body {
    font-family: 'Segoe UI', sans-serif;
    margin: 30px;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 500px;
    margin: auto;
    background: rgb(214, 107, 107);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  textarea {
    border: 2px solid #333;
    padding: 10px;
  }
  
  p {
    margin-top: 10px;
    font-weight: bold;
  }
  